html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

ul {
  margin: 0;
  list-style: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.section {
  z-index: 1;
}

.click-active:active {
  transform: scale(0.95);
}
